/*display view*/
.user-view{
    display: none;
}

/*user view*/
/*[data-mobile-users="true"] .display-view{
    display: none;
}*/

[data-mobile-users="true"] .user-view{
    display: block;
}

.container{
}

.fish{
    position: absolute;
    left: 25vw;
    top: 25vh;
	width: 100px;
	height: 100px;
	text-align: center;
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
}

.fish:active{
    animation: none;
}

.Flower{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 3;
}

.A-Note{
	background-color: pink;
}
.B-Note{
    background-color: red;
}
.C-Note{
    background-color: orange;
}
.D-Note{
    background-color: yellow;
}
.E-Note{
    background-color: green;
}
.F-Note{
    background-color: blue;
}
.G-Note{
    background-color: purple;
}

.trash{
    width: 100px;
    height: 100px;
    background-color: grey;
    color: white;
    position: absolute;
    left: 80vw;
    top: 70vh;
    text-align: center; 
}

.display{
    display: none !important;
    animation-name: none;
}

/*--------------------------------------------------------Media Queries--------------------------------------------------------*/

@media (min-width: 900px) {

}

/*-------------------------------------------------------------Keyframes---------------------------------------------------------*/


/*@keyframes circle{
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(0deg); }
}*/

@keyframes circle{
    from { transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
} /*change absolute position if that doesnt work animate in js*/